  --accent-001: #0dd509;
  --accent-002: #00575c;
  --accent-003: #7cdd37;
  --accent-004: #437fac;
  --accent-005: #3ba3db;
  --accent-006: #02e36f;
  --accent-007: #a681f0;
  --accent-008: #1d017a;
  --accent-009: #8aed71;
  --accent-010: #c92a55;
  --accent-011: #aff8b2;
  --accent-012: #d88b19;
  --accent-013: #39f0d4;
  --accent-014: #aaa3b6;
  --accent-015: #5d856b;
  --accent-016: #b6e105;
  --accent-017: #ee6a3f;
  --accent-018: #1000ac;
  --accent-019: #d474e5;
  --accent-020: #da3e58;
  --accent-021: #13b919;
  --accent-022: #0ac033;
  --accent-023: #9f3dc0;
  --accent-024: #9374cb;
  --accent-025: #10c29f;
  --accent-026: #f04082;
  --accent-027: #9410a8;
  --accent-028: #681609;
  --accent-029: #9e8ab6;
  --accent-030: #a09002;
  --accent-031: #0a94f8;
  --accent-032: #8475f3;
  --accent-033: #1bed1f;
  --accent-034: #d723b2;
  --accent-035: #a02f75;
  --accent-036: #c39fcf;
  --accent-037: #febca3;
  --accent-038: #955e0a;
  --accent-039: #22d662;
  --accent-040: #6b3d29;
  --accent-041: #b2b61e;
  --accent-042: #35085a;
  --accent-043: #955d53;
  --accent-044: #47571c;
  --accent-045: #6830df;
  --accent-046: #481ff1;
  --accent-047: #30d2ed;
  --accent-048: #c82dc4;
  --accent-049: #130561;
  --accent-050: #7abe34;
  --accent-051: #d556b6;
