  --accent-001: #0dd509;
  --accent-002: #00575c;
  --accent-003: #7cdd37;
  --accent-004: #437fac;
  --accent-005: #3ba3db;
  --accent-006: #02e36f;
  --accent-007: #a681f0;
  --accent-008: #1d017a;
  --accent-009: #8aed71;
  --accent-010: #c92a55;
  --accent-011: #aff8b2;
  --accent-012: #d88b19;
  --accent-013: #39f0d4;
  --accent-014: #aaa3b6;
  --accent-015: #5d856b;
  --accent-016: #b6e105;
  --accent-017: #ee6a3f;
  --accent-018: #1000ac;
  --accent-019: #d474e5;
  --accent-020: #da3e58;
  --accent-021: #13b919;
  --accent-022: #0ac033;
  --accent-023: #9f3dc0;
  --accent-024: #9374cb;
  --accent-025: #10c29f;
  --accent-026: #f04082;
  --accent-027: #9410a8;
  --accent-028: #681609;
  --accent-029: #9e8ab6;
  --accent-030: #a09002;
  --accent-031: #0a94f8;
  --accent-032: #8475f3;
  --accent-033: #1bed1f;
  --accent-034: #d723b2;
  --accent-035: #a02f75;
  --accent-036: #c39fcf;
  --accent-037: #febca3;
  --accent-038: #955e0a;
  --accent-039: #22d662;
  --accent-040: #6b3d29;
  --accent-041: #b2b61e;
  --accent-042: #35085a;
  --accent-043: #955d53;
  --accent-044: #47571c;
  --accent-045: #6830df;
  --accent-046: #481ff1;
  --accent-047: #30d2ed;
  --accent-048: #c82dc4;
  --accent-049: #130561;
  --accent-050: #7abe34;
  --accent-051: #d556b6;
  --accent-052: #0c0039;
  --accent-053: #7027f6;
  --accent-054: #4e91d6;
  --accent-055: #d1b7dd;
  --accent-056: #3fd6b8;
  --accent-057: #fb68d9;
  --accent-058: #beda10;
  --accent-059: #038d71;
  --accent-060: #cfbdba;
  --accent-061: #71cb22;
  --accent-062: #75e02b;
  --accent-063: #a0c713;
  --accent-064: #aaada8;
  --accent-065: #aff21a;
  --accent-066: #427f38;
  --accent-067: #7aac1c;
  --accent-068: #863e6a;
  --accent-069: #9dfcae;
  --accent-070: #15acd3;
  --accent-071: #b7a248;
  --accent-072: #3c9d73;
  --accent-073: #5b7947;
  --accent-074: #1f1d7c;
  --accent-075: #3dd523;
  --accent-076: #d6e40d;
  --accent-077: #5cd201;
  --accent-078: #d85501;
  --accent-079: #c31859;
  --accent-080: #a7e4c6;
  --accent-081: #e331c9;
  --accent-082: #5e8e13;
  --accent-083: #8182c9;
  --accent-084: #987d6e;
  --accent-085: #87df56;
  --accent-086: #d68e10;
  --accent-087: #db5b34;
  --accent-088: #67718b;
  --accent-089: #9fc7ef;
  --accent-090: #387f5b;
  --accent-091: #71ed02;
  --accent-092: #9828a2;
  --accent-093: #376076;
  --accent-094: #423e3c;
  --accent-095: #e38236;
  --accent-096: #709ab5;
  --accent-097: #649c82;
  --accent-098: #c6e11b;
  --accent-099: #40a82b;
  --accent-100: #dc15e9;
  --accent-001: #1ede20;
  --accent-002: #e6593e;
  --accent-003: #4d2a3a;
  --accent-004: #f13268;
  --accent-005: #d91f4b;
  --accent-006: #91593f;
  --accent-007: #9d4d44;
  --accent-008: #9c2b19;
  --accent-009: #1ac284;
  --accent-010: #4b806f;
  --accent-011: #e6e4f8;
  --accent-012: #1d465f;
  --accent-013: #32eb59;
  --accent-014: #e9edd9;
  --accent-015: #e31860;
  --accent-016: #0b627b;
  --accent-017: #553b4e;
  --accent-018: #d6f0d6;
  --accent-019: #ffdb54;
  --accent-020: #9c7cee;
  --accent-021: #61737a;
  --accent-022: #c2259e;
  --accent-023: #0c7d1c;
  --accent-024: #8f75d9;
  --accent-025: #af76b8;
  --accent-026: #87365e;
  --accent-027: #da40c5;
  --accent-028: #58fd20;
  --accent-029: #9c5d58;
  --accent-030: #03d53d;
  --accent-031: #1cb027;
  --accent-032: #82a77e;
  --accent-033: #886b2e;
  --accent-034: #4b12ad;
  --accent-035: #89c5d4;
  --accent-036: #a4fe87;
  --accent-037: #2052b9;
  --accent-038: #e85d1c;
  --accent-039: #e40115;
  --accent-040: #30ca4e;
  --accent-041: #177658;
  --accent-042: #2d9a81;
  --accent-043: #327634;
  --accent-044: #b06546;
  --accent-045: #bc774d;
  --accent-046: #22f28e;
  --accent-047: #3c38bf;
  --accent-048: #ba3fd2;
  --accent-049: #c4caee;
  --accent-050: #a63a0b;
  --accent-051: #47e192;
  --accent-052: #a8bd6b;
  --accent-053: #7ac9c2;
  --accent-054: #4ffc21;
  --accent-055: #939335;
  --accent-056: #d59408;
  --accent-057: #dda4bd;
  --accent-058: #0d9b46;
  --accent-059: #6ffefc;
  --accent-060: #7ce51b;
  --accent-061: #1e1c35;
  --accent-062: #ad35c8;
  --accent-063: #0279e9;
  --accent-064: #0fcc05;
  --accent-065: #dd2a6a;
  --accent-066: #a5b861;
  --accent-067: #80b841;
  --accent-068: #492395;
  --accent-069: #450e13;
  --accent-070: #7aab4e;
  --accent-071: #137159;
  --accent-072: #f9c4ef;
  --accent-073: #7bba3e;
  --accent-074: #71c63c;
  --accent-075: #06431f;
  --accent-076: #6c3d86;
  --accent-077: #5c80da;
  --accent-078: #2f4490;
  --accent-079: #51fb60;
  --accent-080: #945315;
  --accent-081: #6360f3;
  --accent-082: #ae0a7c;
  --accent-083: #393727;
  --accent-084: #4c43e8;
  --accent-085: #ee46af;
  --accent-086: #efcb79;
  --accent-087: #0bd047;
  --accent-088: #5c75e6;
  --accent-089: #120395;
  --accent-090: #2b73a1;
  --accent-091: #91ff28;
  --accent-092: #901778;
  --accent-093: #db305b;
  --accent-094: #2ebc5d;
  --accent-095: #516757;
  --accent-096: #133f7e;
  --accent-097: #cc8e98;
  --accent-098: #72ae96;
  --accent-099: #be6716;
  --accent-100: #9f5409;
  --accent-001: #8be220;
  --accent-002: #32657e;
  --accent-003: #c42496;
  --accent-004: #c7f829;
  --accent-005: #2d3f59;
  --accent-006: #a67e1b;
  --accent-007: #d03854;
  --accent-008: #824e9a;
  --accent-009: #0fa265;
  --accent-010: #3e0092;
  --accent-011: #df2a80;
  --accent-012: #0e8ea3;
  --accent-013: #8a14e2;
  --accent-014: #4b3579;
  --accent-015: #57a5ae;
  --accent-016: #9e1c70;
  --accent-017: #4061e8;
  --accent-018: #3ec4ef;
  --accent-019: #8d53e6;
  --accent-020: #99c2db;
  --accent-021: #933395;
  --accent-022: #606bdf;
  --accent-023: #612e5e;
