  --accent-001: #0dd509;
  --accent-002: #00575c;
  --accent-003: #7cdd37;
  --accent-004: #437fac;
  --accent-005: #3ba3db;
  --accent-006: #02e36f;
  --accent-007: #a681f0;
  --accent-008: #1d017a;
  --accent-009: #8aed71;
  --accent-010: #c92a55;
